@charset "utf-8"; /*このファイルの文字コードを宣言する（日本語の値の指定に必要）*/

main {
    width: 300px; /*タグの幅*/
    margin: 64px auto; /*marginは余白の意味、pxは上下方向の余白の大きさ、autoは文字の余白を左右均等に（＝中央ぞろえに）する*/
}

section {
    border: 4px double brown; /*外枠の二重線*/
    text-align: center;
    color: red;
}


/* h1タグ,pタグの余白リセット（スタイリングしやすくするため）*/
h1 {
    margin: 0;
    border-bottom: 2px solid red; /*solidは一本線、bottomなので下線*/
    font-weight: bold;
    padding: 8px 0; /*上下の余白8px、左右は0*/
}

p {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    padding: 48px 0;
}


/*ボタン部分のリセット*/
button{
    all: unset;
    width: 100%; /*上のボックスと同じ幅にする*/
    background: red; 
    border-radius: 8px; /*ボタンの4隅を丸くする*/
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px;
    cursor: pointer; /*ボタンにカーソルを合わせた時に色が変わるようにする*/
    box-shadow: 0 4px #7a0000; /*x方向に0、y方向に4px、影の色を指定*/
}

button:hover{ /*マウスを合わせた時のスタイルを設定*/
    opacity: .8; /*要素の透明度*/
}